@font-face {
    font-family: 'Arial-Black';
    src: url(fonts/arial-black.ttf);
}

body{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    font-size: 30px;

    box-sizing: border-box;

    overflow-x: hidden;
    
    
}


header{

    font-family: 'Arial-Black';
    display: flex;
    
    flex-direction: column;

    height: 600px;

    background-image: url(images/landingPageBackground.png);
    background-size: 1520px;
    background-repeat: repeat-x;

    overflow-wrap: break-word;
}

header h1{
    margin: 0;
    line-height: 80px;
    color: #fff;

    font-size: 180px;

    padding-left: 24%;


}

header h5{
    overflow-wrap: hidden;
    color: #fff;

    padding-left: 24%;
}

#boardwalk-cafe{
    position: absolute;
    top: 0px;
    color: rgb(255, 255, 255);
    align-self: center;
}

h2{
    font-size: 50px;
}

/* used to change position welcome
#contact-and-welcome{
    position: relative;
    top: -50px;
}*/


#boardwalkHeaderLogo{
    width: 22%;
    height: auto;
    border-radius: 100%;
}

#menu-heading-wrapper{
    display: flex;
    align-items: center;
}

#menu-heading-wrapper img{
    width: 5%;
    height: auto;
}

#menu-wrapper{
    padding: 0% 10%;
}

#menu-items-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.menuItem{
    width: 130px;
    height: 200px;
    overflow: auto; /*Scroll when container is too small*/
    /*background-color: rgba(255, 217, 93, 0.358);*/
    /*border: 1px solid #88888825;*/
    border-radius: 5px;
    box-shadow: 5px 5px 5px #88888825;
}

.menuItemContent{
    padding: 20px;
}

.menuItemPic{
    overflow: hidden;
    width: 130px;
    height: auto;
}

.prices h6{
    margin: 0;
}


.addToOrderButton{
    border: none;
    -webkit-appearance: none;
    border-radius: 5px;

    background-color: rgb(255, 255, 255);
    margin: 15vh 10vw 15vh 0;

    transition: 0.2s;
    transform: scale(1.6);

}

.addToOrderButton:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.8);
}

#order-list{
    background-color: rgb(213, 241, 118);
}

footer{
    background-color: rgb(255, 193, 24);
    padding: 5%;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    color: #fff;
    font-size: 15px;
}

footer img{
    margin-right: 12px;
    transition: 0.3s;
    transform: scale(1);
}

footer img:hover{
    transition: 0.3s;
    transform: scale(1.4);
}