@font-face {
    font-family: 'Arial-Black';
    src: url(fonts/arial-black.ttf);
}

body{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;

    font-size: 16px;

    box-sizing: border-box;

    
    
    
}

#hero{
    background-image: url("images/managerBack.jpg");
    background-size: cover;
    height: 200px;
    margin: -25px;
    padding: 20px;
    color: #fff;
}

h2{
    margin-top: 90px;
}

#nav-buttons{
    display: flex;
    
}

#nav-buttons a{
    margin-right: 40px;
}

#add-form{

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #F5AE5B;
    padding: 40px;
    margin-bottom: 30px;
}

#edit-form{

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #46b4ca;
    padding: 40px;
    margin-bottom: 30px;
}

#delete-form{

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #f5725b;
    padding: 40px;
    margin-bottom: 30px;
}


form h5{
    font-size: 20px;
}

input{
    margin-right: 15px;
}

input[type = text]{
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 30%;
}

input[type = submit]{
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 20px;
    background-color: #4FA892;
}

#current-menu{

    margin-bottom: 70px; 
}

#current-menu td{
    display: inline-block;
    margin-bottom: 10px; 
}

#small-menu{
    font-size: 12px;
    margin-right: 60px;
    color: rgb(147, 147, 147);
}

.linkButton{
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
}

.topButton{
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #000;
}

canvas{
    border-radius: 5px;
    background-color: rgb(255, 252, 238);
}

#orderRes{
    font-size: 14px;
    color: rgb(118, 118, 118);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#earnRes{
    font-size: 14px;
    color: rgb(118, 118, 118);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

h5{
    font-size: 20px;
}