body {
    background-color: #e8dff5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-align: center; */
    margin-top: -5%;
}


.Cart-Container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    width: 70%;
    height: 85%;    
}


.Cart {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Remove {
    color: red;
    cursor: pointer;
}

.Remove:hover{
    text-decoration: underline;
}

.Header{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
   }

.button-checkout {
    background-color: #7ec4cf;
    cursor: pointer;
    font-size: 17px;
    color: white;
    padding: 6px 12px;    
    border-color: white;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    /* margin-left: -30%; */
    margin-left: 385%;

}

.button-checkout:hover{
    background-color: green;
}


.Cart-Items{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.name {
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #7ec4cf;
}

.count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    padding-left: 50%;
    /* position: relative; */
    /* margin-top: 30%; */
}

.remove {
    color: black;
    cursor: pointer;
    background-color: #7ec4cf;
    cursor: pointer;
    font-size: 13px;
    border-radius: 15px;
    color: white;
    padding: 1px 6px;    
    border-color: white;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.remove:hover{
    background-color: red;
}

.button{
    width: 30px;
    height: 30px;
    background-color: #D3D3D3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    

}

.button:hover{
    background-color: gray;
}

.price{
    text-align: right;
    padding-right: 10%;
    padding-bottom: 20%;
}

.amount{
    font-size: 20px;
    font-weight: 800;
    /* padding-top: 20px; */
}

.total{
    display: flex;
    justify-content: space-between;
    padding-top: 50%;
    padding-left: 50%;
    margin-left: 300%;
    /* width: 100%; */
}


.checkout{
    float: right;
    padding-bottom: 5%;
    /* margin-left: 5%; */
}

.total-value{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    color: #202020;
    margin-left: -20%;
    padding-right: 100%;
}


.Totalitem{
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
    margin-left: -100%;
}

.Total-checkout{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-left: -100%;
        
}

hr{
    width: 66%;
    float: right;
    margin-right: 5%;
   }
